<%- include('/Users/hp/Desktop/express/views/includes/head.ejs') %>
</head>
<body>
    <%- include('/Users/hp/Desktop/express/views/includes/navigation.ejs') %>
    <h1>Page not found!</h1>
<%- include('/Users/hp/Desktop/express/views/includes/end.ejs') %>